<!DOCTYPE html>
<html>
  <head>
    <title>ShopMyResume</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>ShopMyResume&trade;</header>
    <ul class="main-menu">
      <li class="menu-item">About</li>
      <li class="menu-item">Skills</li>
      <li class="menu-item">Projects</li>
      <li class="menu-item">Reviews</li>
    </ul>
    <%= yield %>
  </body>

</html>
