<!DOCTYPE html>
<html>
  <head>
    <title>ShopMyResume</title>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <header>ShopMyResume&trade;</header>
    <ul class="main-menu">
      <li class="menu-item">About</li>
      <li class="menu-item">Skills</li>
      <li class="menu-item">Projects</li>
      <li class="menu-item">Reviews</li>
    </ul>
    <%= yield %>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
</html>
